//The main scss file for bdit_cot-vfh.

//IMPORTANT:
// Any resources from this project should be referenced using SRC_PATH preprocessor var
// Ex: background-image: url(/* @echo SRC_PATH*//img/sample.jpg)

#bdit_cot-vfh_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* COT */
body {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 16px;
  line-height: 1.42857;
  color: black;
  background-color: #fff
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px
}

.container-fluid:before,.container-fluid:after {
  content: " ";
  display: table
}

.container-fluid:after {
  clear: both
}

.container-fluid {
  max-width: 1400px
}

.row {
  margin-left: -16px;
  margin-right: -16px
}

.row:before,.row:after {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif !important;}
a,b,strong,th {
  font-weight: 500
}

/* -------*/
/* Custom */
text {
  font-size: 22px;
}

.myh3 {
  margin-top: 55px !important;
}

.form-control {
  margin-top: 20px;
}

.midtexts {
  margin-top: 20px;
}

/* -----------*/
.page-content {
  font-size: 1.125em;
}
/* Intro section */
.row.cards > div{
    height: 180px;
    margin-bottom: 1em;
}
.chart__card {
   display:grid;
   height:100%;
   grid-template-rows:2fr 3.8fr 1fr
}
@media print {
   [card-style*=option1] a {
     font-size:smaller
   }
   [card-style*=option1] .chart--card {
     border:1px dotted var(--color-border-dark)
   }
   [card-style*=option1] .chart__card-heading {
     border-bottom:1px dashed var(--color-border-dark)
   }
}
.chart--card {
   height:100%;
   border: 2px solid rgba(208, 211, 213, 0.9);
   display:grid
}
@media print {
  .chart--card a[href]:after {
    font-size:16px
  }
}
.chart--card:hover .chart--value a {
  text-decoration:underline
}
.chart--card .image {
   opacity:.98;
   overflow:hidden;
   border-bottom-left-radius:3px;
   border-bottom-right-radius:3px
}
.chart--card .chart__card-heading {
   background-color: #D0D5DA;
   color: #000;
   font-size: 1.125em;
   padding:0 var(--padding-small);
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center
}
.chart--card .chart__card-body,
.chart--card .chart__card-heading {
   text-align:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center
}
.chart--card .chart__card-body {
   display:grid;
   grid-template-rows:1fr auto;
   color:#fff;
   border-bottom-left-radius:3px;
   border-bottom-right-radius:3px
}
.chart--card__image {
   position:relative;
   text-Align:center
}
.chart--card__image .chart__card-body {
   width:100%;
   height:100%;
   position:absolute;
   top:50%;
   left:50%;
   -webkit-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
   padding:0
}
@media screen and (max-width:600px) {
 .chart--card__image .chart__card-body {
  padding:10% 0
 }
}
.chart--card .chart--value {
  font-size:2em
}
.chart--card .chart--caption {
  font-size:85%
}


.chart__button-link {
  text-align: right;
  width: 98%;
  color: #2d699e;
}
.glyphicon-circle-arrow-right {
  color: #2d699e;
}

/* -----------*/
/* DV-related */
.text-center {
  text-align: center;
}

div.tooltip {
  position: absolute;
  padding: 6px;
  text-align: left;
  color: #fff;
  background: #333;
  border-radius: 8px;
  font: 24px;
}

.hoverLine {
   stroke: #000;
   stroke-width: 1px;
   opacity: 1;
   pointer-events: none;
}

/* -------------*/
/* scatter plot */
.scatter svg text {
	fill: currentColor;
}

.scatter svg .tick line,
.scatter svg .domain {
	stroke: currentColor;
}

.point-text {
  stroke: none;
}

.label {
  color: #000;
  stroke: none;
  font-size: 22px;
  font-weight: normal !important;
}

.dim-circle {
  opacity: 0.1;
}

/* line chart PTC growth */
.line svg text {
	fill: currentColor;
}

.line svg .tick line,
.line svg .domain {
	stroke: currentColor;
}

.dline {
	stroke: #000;
	stroke-width: 1.5;
}

.dline1 {
	stroke: #660159;
  stroke-width: 7px;
}

.dline2 {
	stroke: #FF7F00;
}

.dline3 {
	stroke: #28A026;
}

.dline4 {
	stroke: #D82A23;
}

.dline5 {
	stroke: #9364BE;
}

.dline6 {
	stroke: #8C574B;
}

.dline7 {
	stroke: #E474C2;
}

/* scatter plot legend rects */
.legendText {
  font-size: 11px;
}
.popLevel0 {
  fill: #d7b5d8;
}
.popLevel1 {
  fill: #dd1c77;
}
.popLevel2 {
  fill: #df65b0;
}
.popLevel3 {
  fill: #df65b0;
}
.popLevel4 {
  fill: #980043;
}

/* TOD line chart for PTC growth */
.line-tod .x.axis .tick text{
	opacity: 0;
}
.vktmap, .ward-pudo-map {
  margin-top: 20px;
}


/* TOW line chart */
#towLine text {
  font-size: 14px;
}
#hr {
  position: relative;
  left: 1099px;
  top: 218px;
}
.dow-label {
  position: relative;
  top: -3px;
}
#mon {
  left: -21px;
}
#tues {
  left: -6px;
}
#wed {
  left: 15px;
}
#thurs {
  left: 28px;
}
#fri {
  left: 56px;
}
#sat {
  left: 73px;
}
#sun {
  left: 90px;
}

/* ward TOW line chart */
#wardtow text {
  font-size: 19px;
}
#wardhr {
  position: relative;
  left: 605px;
  top: 302px;
}
.warddow-label {
  font-size: 14px;
  position: relative;
  top: -19px;
}
#ward_mon {
  left: -69px;
}
#ward_tues {
  left: -52px;
}
#ward_wed {
  left: -29px;
}
#ward_thurs {
  left: -13px;
}
#ward_fri {
  left: 17px;
}
#ward_sat {
  left: 35px;
}
#ward_sun {
  left: 54px;
}

/* pudo map legend */
.wkdayAMpeak {
  fill: #ff78b9;
}
.frisatNightI {
  fill: #660159;
}
